@if index($btn-types, secondary) {
  /*===secondary===*/
  .btn--secondary {
    &:active {
      background-color: #d14a00;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: #f15c27;
      }
    }

    & [disabled] {
      color: #b5b5be;
    }
  }
}
