@if index($btn-types, warning) {
  /*===warning===*/
  .btn--warning {
    background-color: #92929d;

    &:active {
      background-color: darken(#92929d, 10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten (#92929d, 10%);
        box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
      }
    }

    & [disabled] {
      background-color: #b5b5be;
    }
  }
}
